/* #9B5959 (reddish)
#E3A348 (orangey)
#70807E (blue-grey)
#8F9086 (grey) */


@font-face {
  font-family: Digital-7 Mono;
  src: url(digital-7.mono.ttf);
}

@font-face {
  font-family: Apocalypse;
  src: url(apocalypse.regular.ttf);
}

html {
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(0,0,0);
  background-image: url(ApocBackgroundDESKTOP.jpg);
  /* background: linear-gradient(black, grey, black), url(ApocBackgroundDESKTOP.jpg); */
  /* background-color: grey; */
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  font-size: 40px;
  font-family: 'Digital-7 Mono', monospace;

}



.bg-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(143,144,134,.4);
  opacity: 20%;
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(60,60,50,0.9);
}

h1 {
  color: #E3A348 ;
  font-family: 'Special Elite', sans-serif;
  text-shadow: 3px  3px black;
  font-size: 60px;
  margin: 0;
  margin-top: 15px;
}

main {
  box-sizing: border-box;
  position: relative;
  padding: 20px 5px;
}

ul {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* position: relative; */
}

li {
  box-sizing: border-box;
  list-style-type: none;
  width: 75px;
  height: 100px;
  margin: 3px;
  box-shadow: 2px 5px 15px black;
  border-radius: 5px;
  /* box-shadow: 2px 5px 20px grey; */
  position: relative;
  perspective: 500px;
}

/*.card:hover .face-down, .card-flip .face-down {
  transform: rotateX(180deg);
}

.card:hover .disease-one, .card.flip {
  transform: rotateX(0deg);
  background-image: url(diseases/BubonicPlague_edit.jpg);
  background-position: center;
  background-size: 100px;
  background-repeat: no-repeat;
}

.card .disease-one {
  transform: rotateX(-180deg);
}

.card .face-down, .card .disease-one {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease-in;
  position: absolute;
  backface-visibility: hidden;
  background-color: white;
  background-image: url(biohazard.jpg);
  background-size: 75px 75px;
  background-repeat: no-repeat;
  background-position-y: center;
} */

.disease-one {
  background-image: url(diseases/BubonicPlague_edit.jpg);
}

.disease-two {
  background-image: url(diseases/ebola_edit.jpg);

}

.disease-three {
  background-image: url(diseases/influenza_edit.jpg);
}

.disease-four {
  background-image: url(diseases/Malaria_edit.jpg);
}

.disease-five {
  background-image: url(diseases/Polio_edit.jpg);
}

.disease-six {
  background-image: url(diseases/YellowFever_edit.jpg);
}

.disease-seven {
  background-image: url(diseases/Smallpox_edit.jpg);
}

.disease-eight {
  background-image: url(diseases/Tuberculosis_edit.jpg);
}

 .face-down {
  background-color: white;
  background-image: url(biohazard.jpg);
  background-size: 75px 75px;
  background-repeat: no-repeat;
  background-position-y: center;
  /* backface-visibility: hidden; */
}  

.blank {
  background-size: 75px 75px;
  background: transparent;
  border: none;
}

#popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(155,89,89, 0.98);
  z-index: 10;
  padding: 50px;
  color: #E3A348;
  text-shadow: 0 0 5px black;

}

#start-button {
  /* width: 100px; */
  /* height: 50px; */
  margin: 0 auto;
  /* background-color: #70807E; */
  background-color: rgb(110,110,80);
  border: none;
  padding: 10px 50px;
  color: #E3A348;
  text-shadow: -1px -1px 2px rgb(80,80,80), 1px -1px 2px  rgb(80,80,80), 0 0 8px;

  font-family: 'Special Elite', sans-serif;
  font-size: 30px;
}

footer {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(60,60,50,0.9);
}

#lives {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  /* border: 2px solid #E3A348; */
  color: #E3A348;
  font-family: 'Digital-7 Mono', monospace;
  text-shadow: -1px -1px 2px rgb(80,80,80), 1px -1px 2px  rgb(80,80,80), 0 0 8px #E3A348 , 0 0 10px #E3A348  , 0 0 15px #E3A348 , 0 0 16px #000000 ;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: #E3A348;
  /* text-shadow: 0 0 10px black; */
  /* text-shadow: 0 0 2px black, 0 0 5px #E3A348; */
  text-shadow: -1px -1px 2px rgb(80,80,80), 1px -1px 2px  rgb(80,80,80), 0 0 8px #E3A348 , 0 0 10px #E3A348  , 0 0 15px #E3A348 , 0 0 16px #000000 ;
  
  
  font-family: 'Digital-7 Mono', monospace;
}

#reset-button {
  width: 50px;
  height: 50px;
  /* border: 2px solid black; */
  border: none;
  border-radius: 500px;
  background-color: rgb(155,89,89);
  box-shadow: 0 7px grey;
  font-size: 16px;
  color: #E3A348;
  font-family: 'Digital-7 Mono', monospace;
  text-shadow: 0px  -1px 0px rgba(0,0,0,.5);
  /* text-shadow: -1px -1px 2px rgb(80,80,80), 1px -1px 2px  rgb(80,80,80), 0 0 8px #E3A348 , 0 0 10px #E3A348  , 0 0 15px #E3A348 , 0 0 16px #000000 ; */
}

