/* #9B5959 (reddish)
#E3A348 (orangey)
#70807E (blue-grey)
#8F9086 (grey) */


@font-face {
  font-family: Digital-7 Mono;
  src: url(digital-7.mono.ttf);
}

@font-face {
  font-family: Apocalypse;
  src: url(apocalypse.regular.ttf);
}

html {
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
  margin-bottom: 10px;
  font-family: Apocalypse;
  size: 12px;
  text-shadow: 3px  3px 20px black;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(0,0,0);
  background-image: url(ApocBackgroundDESKTOP.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  font-size: 40px;
  font-family: 'Digital-7 Mono', monospace;
}

.bg-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(143,144,134,.4);
  opacity: 20%;
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(60,60,50,0.9);
}

h1 {
  color: #E3A348 ;
  font-family: 'Special Elite', sans-serif;
  text-shadow: 3px  3px black;
  font-size: 40px;
  margin: 0;
  margin-top: 15px;
}

main {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px 5px;
}

ul {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 375px;
  object-fit: contain;
}

li {
  box-sizing: border-box;
  list-style-type: none;
  width: 75px;
  height: 100px;
  margin: 3px;
  box-shadow: 2px 5px 15px black;
  border-radius: 5px;
  background-repeat: no-repeat;
  position: relative;
  perspective: 500px;
  cursor: pointer;
 
}

.disease-one {
  background-image: url(diseases/BubonicPlague_edit.jpg);
  background-size: 100%;
}

.disease-two {
  background-image: url(diseases/ebola_edit.jpg);
  background-size: 100%;
}

.disease-three {
  background-image: url(diseases/influenza_edit.jpg);
  background-size: 100%;
}

.disease-four {
  background-image: url(diseases/Malaria_edit.jpg);
  background-size: 100%;
}

.disease-five {
  background-image: url(diseases/Polio_edit.jpg);
  background-size: 100%;
}

.disease-six {
  background-image: url(diseases/YellowFever_edit.jpg);
  background-size: 100%;
}

.disease-seven {
  background-image: url(diseases/Smallpox_edit.jpg);
  background-size: 100%;
}

.disease-eight {
  background-image: url(diseases/Tuberculosis_edit.jpg);
  background-size: 100%;
}

 .face-down {
  background-color: white;
  background-image: url(biohazard.jpg);
  background-size: 75px 75px;
  background-repeat: no-repeat;
  background-position-y: center;
}  

.blank {
  background-size: 75px 75px;
  background: transparent;
  border: none;
  box-shadow: none;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#popup {
  display: flex;
  box-shadow: 2px 5px 10px 2px rgba(51, 27, 27, 0.98);
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(155,89,89, 0.98);
  z-index: 10;
  padding: 25px;
  color: #E3A348;
  text-align: center;
  text-shadow: 0 0 5px black;
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

footer {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(60,60,50,0.9);
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin-top: 58px;
  margin-left: -15px;
  color: #E3A348;
  text-shadow: -1px -1px 2px rgb(80,80,80), 1px -1px 2px  rgb(80,80,80), 0 0 8px #E3A348 , 0 0 10px #E3A348  , 0 0 15px #E3A348 , 0 0 16px #000000;
  font-family: 'Digital-7 Mono', monospace;
  font-size: 50px;
}

#reset-button {
  width: 80px;
  height: 80px;
  margin-top: 50px;
  top: 0;
  cursor: pointer;
  border: 1px solid #B21522;
  border-radius: 500px;
  background-color: rgb(155,89,89);
  background: radial-gradient(closest-side, rgba(255,255,255,0.2) 0, rgba(0,0,0,0) 100%), #C91826;
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position: 0 100%;
  background-size: 158px 142px;
  background-clip: border-box;
  box-shadow: 1px 16px 10px 5px rgba(0,0,0,0.2) , 0 14px 0 0 #000000 , 4px 8px 15px 4px rgba(0,0,0,0.4) , 5px 1px 5px 0 rgba(255,255,255,0.2) inset, 5px -4px 5px 0 rgba(255,255,255,0.2) inset, -2px 3px 6px 0 rgba(0,0,0,0.2) inset;
  transition: all 40ms cubic-bezier(0.6, -0.28, 0.735, 0.04);
  transform: rotateX(35deg)  translateY(15px) translateZ(40px) ;
  font-size: 20px;
  color: #E3A348;
  font-family: 'Digital-7 Mono', monospace;
  text-shadow: 0px  -1px 0px rgba(0,0,0,.5);
}

#reset-button:hover {
  background: radial-gradient(closest-side, rgba(255,255,255,0.28) 0, rgba(0,0,0,0) 100%), #a80008;
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 158px 142px;
  box-shadow: 1px 16px 10px 5px rgba(0,0,0,0.2) , 0 14px 0 0 #000000 , 4px 8px 15px 4px rgba(0,0,0,0.4) , 5px 1px 5px 0 rgba(255,255,255,0.2) inset, 5px -4px 5px 0 rgba(255,255,255,0.2) inset, -2px 2px 6px 0 rgba(0,0,0,0.2) inset;
  transition: all 0 cubic-bezier(0.42, 0, 0.58, 1);
}

#reset-button:active {
  cursor: default;
  top: -25px;
  background: radial-gradient(closest-side, rgba(255,255,255,0.2) 0, rgba(0,0,0,0) 100%), #c60009;
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 158px 142px;
  box-shadow: 1px 5px 8px 4px rgba(0,0,0,0.4) , 0 7px 0 0 #000000 , 1px 2px 1px 1px rgba(0,0,0,0.6) , 3px 1px 5px 0 rgba(255,255,255,0.2) inset, 3px -6px 5px 0 rgba(255,255,255,0.2) inset, -1px 1px 4px 0 rgba(0,0,0,0.2) inset;
}

button:focus {outline:0;}

#start-button {
  font-family: 'Special Elite', sans-serif;
  font-size: 32px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 50px;
  margin-top: 5px;
  color: #E3A348;
  text-shadow: -1px -1px 2px rgb(80,80,80), 1px -1px 2px  rgb(80,80,80), 0 0 8px;
  border: 1px solid rgb(88, 88, 59);
  background: radial-gradient(closest-side, rgba(255,255,255,0.2) 0, rgba(0,0,0,0) 100%), rgb(110,110,80);
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position: 0 100%;
  background-size: 158px 142px;
  background-clip: border-box;
  box-shadow: 1px 16px 10px 5px rgba(0,0,0,0.2), 4px 8px 15px 4px rgba(0,0,0,0.4) , 5px -4px 5px 0 rgba(255,255,255,0.2) inset, -1px 2px 4px 0 rgba(0,0,0,0.2) inset;
  transition: all 40ms cubic-bezier(0.6, -0.28, 0.735, 0.04);
  transform: rotateX(35deg)  translateY(15px) translateZ(40px) ;
  color: #E3A348;
  font-family: 'Digital-7 Mono', monospace;
  text-shadow: 0px  -1px 0px rgba(0,0,0,.5);
}

#start-button:active {
  cursor: default;
  top: 15px;
  background: radial-gradient(closest-side, rgba(255,255,255,0.2) 0, rgba(0,0,0,0) 100%), rgb(110,110,80);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 158px 142px;
  box-shadow: 1px 5px 8px 4px rgba(0,0,0,0.4) , 0 7px 0 0 #000000 , 1px 2px 1px 1px rgba(0,0,0,0.6) , 3px 1px 5px 0 rgba(255,255,255,0.2) inset, 3px -6px 5px 0 rgba(255,255,255,0.2) inset, -1px 1px 4px 0 rgba(0,0,0,0.2) inset;
  transition: all 40ms cubic-bezier(0.42, 0, 0.58, 1);
}

.card.open {
	transform: rotateY(0);
	cursor: default;
	animation-name: flipInY;
	backface-visibility: visible;
  animation-duration: .75s;
}

/* animations */
@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}



/* TABLET STYLES BEGIN HERE */
@media only screen and (min-width: 768px) {
 
  header {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
  }

  h1 {
    margin-left: 15px;
  }

  #popup {
    margin-top: 26px;
    width: 500px;
    height: 550px;
  }

  p {
    margin: 0;
    margin-bottom: 20px;
    font-family: Apocalypse;
    size: 14px;
    text-shadow: 3px  3px 20px black;
  }

  #start-button {
    margin-top: 10px;
  }
  
  footer {
    background-color: none;
    width: 0;
    height: 0;
  }

  #reset-button {
    position: absolute;
    top: -30px;
    right: 25px;
    width: 80px;
    height: 80px;
    font-size: 20px;
  }

  #timer {
    position: absolute;
    top: -35px;
    right: 120px;
  }

  main {
    display: flex;
    margin: 0 auto;
    width: 500px;
    height: 550px;
    bottom: 15px;
  }

  ul {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
  
  li {
    width: 75px;
    height: 100px;
    margin-top: 5px;
  }

  .face-down {
    background-color: white;
    background-image: url(biohazard.jpg);
    background-size: 75px 75px;
    background-repeat: no-repeat;
    background-position-y: center;
  }  
}


/* DESKTOP STYLES START HERE */
@media only screen and (min-width: 1200px) {
  
  #lives {
    position: absolute;
    top: 20px;
    right: 200px;
  }

  #timer {
    position: absolute;
    top: -36px;
    right: 120px;
  }

  main {
    display: flex;
    margin: 0 auto;
    width: 500px;
    bottom: 5px;
    margin-top: 3%;
  }

  footer {
    margin-top: -10px;
  }

  #card-deck {
    padding-top: 10%;
  }
}
